<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cssa.admin.dao.AdminMapper">


    <resultMap id="AdminMap" type="Admin">
        <result property="createdAt" column="created_at" />
        <result property="isSuperuser" column="is_superuser" />
    </resultMap>

    <select id="login" parameterType="Admin" resultMap="AdminMap">
        SELECT * FROM admin WHERE username = #{username} AND password = #{password}
    </select>

    <insert id="register" parameterType="Admin">
        INSERT INTO admin(username, password, department, name, email, phone, avatar) values(#{username},#{password},#{department}, #{name}, #{email}, #{phone}, #{avatar})
    </insert>

    <select id="getAdminList" resultMap="AdminMap">
        SELECT * FROM admin
    </select>

</mapper>