<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias ="Activity" type = "com.tencent.wxcloudrun.model.Activity"/>
        <typeAlias alias ="ActivityState" type = "com.tencent.wxcloudrun.model.ActivityState"/>
        <typeAlias alias="SignupInfo" type = "com.tencent.wxcloudrun.model.SignupInfo"/>
        <typeAlias alias="Admin" type="com.tencent.wxcloudrun.model.Admin" />
        <typeAlias alias="OperationLog" type="com.tencent.wxcloudrun.model.OperationLog"/>
    </typeAliases>
</configuration>