<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Activity" type = "org.cssa.admin.model.Activity"/>
        <typeAlias alias="SignupInfo" type = "org.cssa.admin.model.SignupInfo"/>
        <typeAlias alias="Admin" type="org.cssa.admin.model.Admin" />
        <typeAlias alias="OperationLog" type="org.cssa.admin.model.OperationLog"/>
    </typeAliases>
</configuration>